<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', {titulo:tituloDaPagina})%>
<body>
    <%- include('includes/header') %>
    <div class="container">
        <% if(typeof(logado)!='undefined') { %>
            <h1>Olá <%= logado %></h1>
        <%}%>

        <section class="row p-5">

        <% if(cardapio != undefined && cardapio.length > 0) {%>  

            
       <% cardapio.forEach((pizza, index) =>{ %>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                    <% if(pizza.img !== undefined) {%>
                        <img src="/cardapioIMG/<%= pizza.img %>" class="card-img-top" alt="">
                    <% } else {%>
                        <img src="/cardapioIMG/1585686329098_mussarela.jpg" class="card-img-top" alt="">
                    <% } %>
                    <h5 class="card-title"><%= pizza.nome %></h5>
                    <p class="card-text">R$ <%= pizza.preco %></p>
                    </div>
                    <div class="card-footer">
                        <form method="POST" action="/cardapio/deletar/<%= index %>?_method=DELETE">
                            <button class="btn btn-danger" type="submit" name=<%= pizza.nome %>>Excluir</button>
                        </form>
                    </div>
                </div>
            </div>
       <% }) %>
        
        <% } else { %>
            <h1>Não tem pizzas cadastradas no sistema!</h1>
        <% } %>

        <div class="col-12 mt-5">
            <a href="/cardapio/cadastro" class="btn btn-primary">Cadastrar nova pizza</a>
        </div>
          
        </section>
    </div>
</body>
</html>